.navbar{
    background-color:  #edf3f4;
}

.blog_section{
    padding: 0rem 5rem 2rem;
    background-color: #EDF3F4;
}

.blog_section h2{
    color: #202020;
    font-size: 53px;
    margin: 0;
    font-weight: 800;
    font-size: 40px;
}

.card_container{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

