  
  .footer {
    /* Fallback for older browsers */
    background: #FFFFFF;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #237662, #216162);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #237662, #216162);
    width: 100%;
    padding-top: 40px;
    color: #ffffff;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content img {
    line-height: 3rem;
  }
  
  .footer-content p {
    min-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  .footer-logo{
    width: 10rem;
    height: auto;
  }
  .menus {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0; /* Adjusted the margin bottom */
  }
  
  .menus li {
    margin: 0 10px;
  }
  
  .menus a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .menus a:hover {
    font-weight: 600;
  }
  
  .footer-hr {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjusted the margin top */
    margin-bottom: 10px; /* Added margin bottom */
    width: 90vw; /* Membuat hr sepanjang viewport */
    position: relative; /* Supaya left bisa berfungsi */
  }
  
  .copy {
    margin-bottom: 10px; /* Added margin bottom */
    transform: translateY(-5px); /* Menggeser p ke atas */
    text-align: left; /* Menggeser teks ke kiri */
    padding-left: 0.3rem; /* Tambahan padding  kiri jika diperlukan */
}

@media screen and (max-width: 320px) {
  .copy {
    padding-left: 7rem;
    font-size: 12px !important;
  }
  .footer-content img {
    line-height: 1rem;
  }
  .footer-logo{
    width: 8rem;
    height: auto;
  }

  .footer-content p {
    min-width: 500px;
    margin: 0 auto;
    line-height: 28px;
    font-size: 12px;
  }
  .menus{
    margin: 0;
    font-size: 10px;
    justify-content: center;
  }
}