

.blog-page .trending h1{
    font-size: 50px;
    font-weight: 500px;
    margin-bottom: 10px;
}

.blog-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 32px;
    justify-content: space-between;

}

.heading{
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.container-blog{
    padding: 32px 5rem;

}

/* .blog-page .trending .row:nth-child(2) .desk{
    line-height: 25px;
    font-size: 13px;
}

.blog-page .trending .row:nth-child(2) .btn-custom {
    background: none;
    border: none;
    color: inherit; 
    cursor: pointer;
    padding: 0;
} */

/* UNTUKMU */
.blog-page .untukmu{
    background: #EDF3F4;
}

.blog-page .untukmu .pilihan{
        display: flex;
        align-items: center;
        width: 100%;
        column-gap: 40px;
        z-index: 1;
}

.blog-page .untukmu .pilihan h1{
    font-size: 50px;
    font-weight: 500px;
    position: inherit; 

}


/* .blog-page .untukmu .pilihan h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px; 
    width: 0;
    height: 9px; 
    background-color: #216162; 
    transition: width 0.3s ease; 
}

.blog-page .untukmu .pilihan h1:hover::after {
    width: 100%; 
} */

.newest-blogs{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    gap: 32px;
    padding-bottom: 32px;
}

.search-container {
    display: flex;
    align-items: center;
  
}

.search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
   
    border-radius: 6px 6px 6px 6px;
    outline: none;
}

.create-blog-button{
    position: fixed;
    top: 30%;
    left: 8%;
}

.create {
    margin-top: 12px;
    background-color: #216162;
    color: #fff;
    right: 0;
    left: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.create:hover {
    background-color: #fff;
    border: #216162 solid 1px;
    color: #216162;
}


@media screen and (max-width: 992px) {
    .search-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        margin-top: 20px;
    }

    .search-input,
    .search-button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 992px) {
    .blog-page .untukmu .pilihan {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .blog-page .untukmu .pilihan h1 {
        font-size: 45px; 
    }

    .blog-page .untukmu .pilihan h1::after {
        bottom: -3px; 
        height: 5px; 
    }
}

.blog-page .untukmu .profils{
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 10px;
}

.blog-page .untukmu .row:nth-child(2) .col{
    background: #fff;
    padding: 0%;
}

.blog-page .untukmu .row:nth-child(2){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding-inline: 10px;
}

.blog-page .untukmu .row:nth-child(2) .potos{
    width: 100%;
    height: 225px;
}




.blog-page .untukmu .iconbetwen{
    font-size: 20px;
}

.blog-page .untukmu .icons{
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 10px;

}

.blog-page .untukmu .row:nth-child(2) .pembaca{
    color: #a78c8c;
}

.blog-page .untukmu .row:nth-child(2) .titles{
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;


}

.blog-page .untukmu .row:nth-child(2) .desk{
    line-height: 25px;
    font-size: 13px;
}

.blog-page .untukmu .row:nth-child(2) .btn-custom {
    background: none;
    border: none;
    color: inherit; 
    cursor: pointer;
    padding: 0;
}




/* POPUP */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup {
    background: rgba(0, 0, 0, 0.959);
    padding: 10px;    
    border-radius: 10px;
    text-align: center;
    width: 500px;          
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .header img {
    margin-right: 10px;
  }

  .profile-img{
    width: 40px;
    height: 40px;
}

  
  
  
  .upload-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    border-top: 2px dashed #9b6060; /* Border hanya di sisi atas */ 
    margin-bottom: 20px;

}

  
  .upload-placeholder i {
    font-size: 100px;
  }
  
  .text-input {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 250px;  
    padding-bottom: 200px; 
    margin-bottom: 20px; 
    border-top: 2px dashed #9b6060; 
    border-bottom: 2px dashed #9b6060; 
    border-right: none; 
    border-left: none;
    color: white;
}

  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
