.container{
    display: grid;
    grid-template-columns: 35% 65%;
}

.hero_container{
    overflow: hidden;
    display: flex;
    height: 110%;
    flex: 1;
}

.hero{
    width: 100%;
    object-fit: cover;
}

.logo_container{
    display: flex;
    justify-content: center;
}

.logo{
    width: 8rem;
    height: auto;
}

.form_heading{
    text-align: center;
    font-size: 18px;
    color: #737373;
    margin: 0;
}

.form_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_input_field{
    display: flex;
    flex-direction: column;
    padding: 8px 2rem;
}

.login_input_field{
    padding-left: 5rem;
    padding-right: 5rem;
}

.login_label{
    margin-top: 20px;
    text-align: left;
    padding-left: 4px;
    padding-bottom: 4px;
    color: black;
}

.login_input{
    border: #BCBCBC solid 1px;
    border-radius: 10px;
    height: 2.5rem;
    padding: 1rem;
    color: hsl(0, 0%, 70%);
}

.login_input:focus{
    outline: none;
    border: hsl(0, 0%, 40%) solid 1px;
}

.login_button_container{
    margin-top: 32px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.login_button{
    background-color: #216162;
    color: white;
    width: 70%;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 300;
}

.login_button:hover{
    cursor:pointer;
    opacity: 0.8;
}

.login_p{
    text-align: center;
    color: #737373;
}

.login_p_span{
    color: #000;
    cursor: pointer;
    font-weight: 700;
}

.regis_anchor{
    color: #000;
}

.regis_anchor:hover{
    color: hsl(0, 0%, 30%);
}

.on_error{
    color: #fc1b1b;
    padding-left: 0.5rem;
}