@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.img_container {
    width: 400px;
    height: 270px;
    overflow: hidden;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author_img {
    width: 1.3rem;
    height: auto;
}

.author_detail {
    padding-top: 1rem;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.author_detail p {
    margin: 0;
    color: #969696;
    font-style: italic;
    font-weight: 400;
}

.article_detail h3 {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    width: 400px;
}

.article_detail p {
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    color: #969696;
    margin-bottom: 0.5rem;
}

.article_detail div {
    color: #23766C;
    font-size: 24px;
    font-weight: 500;
}

.article_detail span {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 992px) {
    .img_container {
        width: 350px;
        height: 240px;
    }

    .article_detail h3,
    .article_detail p {
        width: 350px;
    }
}

@media (max-width: 772px) {
    .img_container {
        width: 300px;
        height: 200px;
    }

    .article_detail h3,
    .article_detail p {
        width: 300px;
        font-size: 18px;
    }

    .article_detail div,
    .article_detail span {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    .img_container {
        width: 100%;
        height: auto;
    }

    .article_detail h3,
    .article_detail p {
        width: 100%;
    }

    .article_detail div,
    .article_detail span {
        font-size: 20px;
    }
}

@media (max-width: 474px) {
    .author_detail {
        flex-direction: column;
        align-items: flex-start;
    }

    .author_detail p {
        font-size: 14px;
    }

    .article_detail h3 {
        font-size: 18px;
    }

    .article_detail p {
        font-size: 14px;
    }

    .article_detail div,
    .article_detail span {
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .article_detail h3 {
        font-size: 16px;
    }

    .article_detail p {
        font-size: 12px;
    }

    .article_detail div,
    .article_detail span {
        font-size: 16px;
    }
}
