.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 20px auto;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px 0px 0px 25px;
}

.search-bar button {
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 0px 25px 25px 0px;
    background-color: #ffffff;
    cursor: pointer;
}
