.kalender .terbaru h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
   
}

.kalender .terbaru .row:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding-inline: 10px;
}

.kalender .terbaru .row:nth-child(2) .col{
    background: #fff;
    padding: 0;
}

.kalender .terbaru .row:nth-child(2) img{
    height: 300px;
}

.kalender .terbaru .row:nth-child(2) h5{
    font-size: 25px;
    font-weight: 700;
}

.kalender .terbaru .row:nth-child(2) .ket{
    line-height: 10px;
    font-size: 18px;
}

.kalender .terbaru .row:nth-child(2) .btn-transparent-custom {
    background: none;
    border: none;
    color: inherit; /* Atur warna teks sesuai dengan konteksnya */
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(121, 116, 110);
}

/* acara */
.kalender .acara{
    background: #EDF3F4;
}
.kalender .acara h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    
   
}

.kalender .search-container {
    display: flex;
    align-items: left;
    margin-top: 20px;
    
}

.kalender .search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    outline: none;
}




.kalender .acara .row:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding-inline: 10px;
}

.kalender .acara .row:nth-child(2) .col{
    background: #EDF3F4;
    padding: 0;
}

.kalender .acara .row:nth-child(2) img{
    height: 300px;
}

.kalender .acara .row:nth-child(2) h5{
    font-size: 25px;
    font-weight: 700;
}

.kalender .acara .row:nth-child(2) .ket{
    line-height: 10px;
    font-size: 18px;
}

.kalender .acara .row:nth-child(2) .btn-transparent-custom {
    background: none;
    border: none;
    color: inherit; /* Atur warna teks sesuai dengan konteksnya */
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(121, 116, 110);
}
@media screen and (max-width: 992px) {
    .kalender .acara .row:nth-child(1) col{
        justify-content: center; /* Pusatkan elemen pencarian */
    }
}