.navbar_text {
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.navbar_text:hover{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: white;
    color: #184A48;
}

.header_container{
    padding: 1% 0;
    display: flex;
    margin-inline: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    gap: 23rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}