/* hero */
.event-page {
  display: inline-block;
  width: 100%;
}
.event-page .hero h1{
    font-size: 80px;
    font-weight: 700;
}



.event-page .detail {
    display: flex;
    align-items: center;
  }
  
  .event-page .detail i{
    margin-right: 10px;
  }
   /* hero end */

  /* detail acara  */
  .event-page .desk h1{
    font-size: 50px;
    font-weight: 700;
}

  .event-page .desk .col .detail{
    color: #000;
    font-size: 20px;
  }
 
  .event-page .desk .col .deskp{
    color: #5E5E5E;
    font-size: 20px;
  }

   /* detail acara end */

   /* galeri */

  .event-page .galeri{
    background: #EDF3F4;
  }

  .event-page .galeri h1{
    font-size: 50px;
    font-weight: 700;
  }

  .event-page .galeri .row:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
  }

  .event-page .galeri .row:nth-child(2) .col{
    padding: 0;
  }

 .event-page .galeri .row:nth-child(2) img{
    height: 300px;
 }
    /* galeri end */

 /* jadwal acara  */
.schedule-section{
  padding-bottom: 5rem;
}

.schedule h1 {
  font-weight: 700;
}

.schedule-container .time{
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: nowrap;
}

.schedule-container{
  padding-bottom: 1rem;
}

.schedule-container p{
  font-size: 36px;
  font-weight: 600;
  color: #5E5E5E;
}

.schedule-container .time p{
  margin-bottom: 0;
  font-weight: 600;
  font-size: 30px;
  color: #000;
}

.schedule-container .time img{
  width: 20px;
}
/* jadwal acara end */

/* Simpan Acara  */
.reminder {
  background-color: #EDF3F4;
  padding-bottom: 3rem;
}

.reminder h2{
  padding: 5rem 0 1rem 0;
  font-size: 50px;
  font-weight: 700;
}

.reminder p{
  color: #5E5E5E;
  font-size: 30px;
  font-weight: 600;
}

.event-page .simpan{
    background: #ccbdbd;
}

.event-page .simpan h1{
    font-size: 50px;
    font-weight: 700;
}

.event-page .simpan p{
    color: #5E5E5E;
    font-size: 20px;
    font-weight: 500;
}

.event-page .simpan .btn-transparent{
    background-color: transparent;
    border: 1px solid #dc3545; 
    color: #dc3545; 
}

.event-page .simpan .btn-transparent:hover{
    background-color: rgba(220, 53, 69, 0.1); 
}


 /* Simpan Acara end */