
  .pembungkus {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-size: cover; 
    background-position: center;
  }

  .left-section {
    padding-right: 50px;
    padding-left: 120px;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-center {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
  color: #737373;
  line-height: 1;
  }

  .left-section-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: #737373;
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color:#737373;
  }

  .text{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    background-color: #216162;
  }
  .btn {
    color: aliceblue;
    background-color: #216162;
    border-radius: 8;
  }

  .link{
    color:#737373;
  }

  a :hover{
    color: purple;
  }

  a{
    text-decoration: none;
    color: #737373 ;
  }

  .right-section{
    position: absolute; 
    left: 50%; 
  }
  .sidebg{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  }
